/* Asterisk selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


/* General Hex code for colors / used root for a global scope */
:root {
    /* Used for: Main brand identity and key elements like headings and links. */
    --primary-color: ;

    /* Used for: Complementary color to the primary color,
    often for buttons and accents. */
    --secondary-color: ;

    /* Used for: Default text color for paragraphs and body content. */
    --tertiary-color: ;
    --custom-header-background-color: #212A33;
    --custom-header-text-color: #EFE2B5;
    --custom-body-background-color: #ebece7;
    --custom-body-content-background-color: #FFF;
    --custom-body-border-color: #d3d3d3;
    --custom-footer-icons-color: #255E80;
    --custom-header-footer-hover-color: #d3d3d3;

}

/* General Styles */
body {
    background-color: var(--custom-body-background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Tajawal', sans-serif;
    /* Generic project styles */
    color: var(--custom-header-background-color);
}

h1,
h2,
h3 {
    font-weight: 400;
    letter-spacing: 2px;
}

p {
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* Header */
header {
    background-color: var(--custom-header-background-color);
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    color: var(--custom-header-text-color);
    text-transform: uppercase;
}

#logo:hover {
    color: var(--custom-header-footer-hover-color);
}

/* Main Content */
main {
    background-color: var(--custom-body-content-background-color);
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    padding: 1rem;
}

#select-country {
    padding: 2rem 0;
}

select {
    width: 100%;
    height: 40px;
    font-size: inherit;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

/* Hide input arrows in Chrome, Safari, and newer versions of Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide input arrows in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Form Content tab 1 */
/* Hide all steps by default: */
.tab {
    display: none;
}

#exchange {
    position: relative;
    font-weight: bold;
    padding: 0.75rem 0 0.75rem 0.5rem;
    background: lightblue;
    border-radius: 8px;
}

.exchange-changes {
    font-size: 11px;
    padding-top: 0.5rem;
    color: red;
}

.text-input {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 1rem;
    position: relative;
}

#send-amount, #receive-amount {
    height: 40px;
    font-size: inherit;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.fee,
.total {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    font-weight: bold;
}

.currency {
    position: absolute;
    top: 55px;
    right: 25px;
}

#currency-select {
    right: 20px;
    top: 39px;
}

#currency-select select {
    border: none;
    height: 30px;
}

/* Form Content tab 2 */
/* Style the buttons that are used to open and close the accordion panel */
#tab2,
#tab3 {
    padding-top: 4rem;
}


/* Accordions */
.accordion {
    background-color: aliceblue;
    color: #444;
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 8px;
    font-size: inherit;
}

.accordion:after {
    content: '+';
    font-size: 1rem;
    color: #777;
    float: right;
    margin-left: 5px;
}

.radio {
    padding: 1rem 0;
}


/* Add a background color to the button if it is clicked or hovered  */
.active,
.accordion:hover {
   background-color: var(--custom-header-text-color);
}

.active:after {
    content: "-";
}

/* Accordion panel. Note: hidden by default */
.panel {
    padding: 0 1rem;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    /* Set a fixed width for the panel */
    width: 100%;
}

.active+.panel {
    /* Adjust max-height as needed to show content smoothly */
    background-color: aliceblue;
}

.cash-withdraw {
    padding: 1rem 0;
}

/* Form Content tab 3 */
#message {
    margin: 0.5rem 0;
}


/* Form Content buttons */
.button-container {
    display: flex;
    padding-top: 2rem;
}

.btn {
    background-color: var(--custom-footer-icons-color);
    border-radius: 2.5rem;
    line-height: 1.25;
    padding: 1rem 1.5rem;
    white-space: nowrap;
    border: none;
    letter-spacing: 3px;
    color: var(--custom-body-content-background-color);
    font-size: 18px;
    cursor: pointer;
    width: -webkit-fill-available;
}

/* Define the styles for a clicked button here */
.btn:active {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    color: var(--custom-header-text-color);
}

#prevBtn {
    margin-right: 0.5rem;
}

textarea {
    width: -webkit-fill-available;
}

/* Footer */
footer {
    background-color: var(--custom-header-text-color);
    text-align: center;
}

footer>p {
    font-weight: bold;
    padding: 0.5rem 0;
}

#social-network {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#social-network a {
    color: var(--custom-footer-icons-color);
    padding: 0 1rem;
}

#social-network a:hover {
    color: var(--custom-header-footer-hover-color);
}

#author {
    font-size: 11px;
}

/* Media query: large and landscape phones (576px and up) */
@media screen and (min-width: 576px) {}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Main Content */
    main {
        border: 1px solid var(--custom-body-border-color);
        margin: 1rem auto;
        text-align: left;
    }
}

/* Media query: laptop and larger (992px and up) */
@media screen and (min-width: 992px) {}

/* Media query: desktop and larger (1200px and up) */
@media screen and (min-width: 1200px) {}

/* Media query: larger (1400px and up) */
@media screen and (min-width: 1400px) {}